.post p {
    margin: 1rem auto !important;
}

.post a {
    color: #195b8a;
    font-weight: 500;
    text-decoration: underline;
}

.post .math {
    text-align: center;
    margin: 2rem auto;
}

.post .image {
    transition: transform .25s ease-out !important;
}

.post .image:hover {
    transform: scale(1.02);
}

.post svg {
    animation: fadeIn 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }