p {
    margin: 1rem auto !important;
}

.math {
    text-align: center;
    margin: 2rem auto;
}

.image {
    transition: transform .25s ease-out !important;
}

.image:hover {
    transform: scale(1.02);
}

svg {
    animation: fadeIn 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: opacity .5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }