.title {
    position: relative;
}

.title h3 {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 2rem;
    animation: fadeDown 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.title h3::after {
    display: block;
    content: "";
    width: 200px;
    height: 20px;
    background-color: #268bd2;
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: -1;
    opacity: .4;
    animation: fadeIn 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.subject {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.description {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@keyframes fadeIn {
    from {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }
    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeDown {
    from {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}