.header {
    padding-top: 0.8rem;
    font-size: 1rem;
    background: linear-gradient(45deg, #2072AC 0%, #419CDC 100%);
    color: #fafafa;
}

.container {
    max-width: 32rem;
    padding-left:  1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (min-width: 76.5em) {
    .container {
        max-width: 36rem;
    }
}

@media (max-width: 30rem) {
    .container {
        max-width: 20rem;
    }
}

.header .container {
    display: flex;
}

.header a:hover {
    background-color: #237dbe;
}

@media (min-width: 34em) {
    .headerTitle {
        float: left;
        color: #fafafa;
        font-size: 1.5rem;
    }
}

.headerTitle {
    font-weight: 600;
    font-size: 1.25rem;
    color: #fafafa;
}

.headerTitle a {
    border-radius: 5px;
    padding: 0.25rem;
}

.headerItem {
    color: #fafafa;
}

.headerItem:hover {
    text-decoration: none;
}

.headerActive {
    background-color: #237DBE;
    pointer-events: none;
}

.title {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.title img {
    border-radius: 20px;
    margin: auto;
}

.title h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #fafafa;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.curve {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    orientation: bottom;
}

.curveContainer {
    position: relative;
    height: 100%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.curveContainer svg {
    display: block;
    position: absolute;
    width: 100%;
    height: 5.5rem;
    fill: #fafafa;
    animation: none;
}

.curveContainer svg path:hover {
    fill-opacity: 1;
}

.subcategories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

@media (max-width: 25rem) {
    .subcategories {
        grid-template-columns: none;
    }
}