.masthead {
    background-color: #268bd2;
    box-shadow: inset 0 -10px 100px -10px #1b7bbf, 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.notes {
    width: 100%;
    animation: fadeIn 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0.25s;
}

.main {
    margin-top: 0 !important;
}

.title {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: #fafafa;
    animation: fadeDown 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.notes h1,
.notes h2,
.notes h3,
.notes h4,
.notes h5,
.notes h6 {
    margin-top: 3rem !important;
    margin-bottom: 1rem;
}

.notes h2,
.notes h3 {
    color: #268bd2;
}

.notes a:hover {
    color: #64aee3;
}

.notes img {
    margin: 2rem auto;
}

ol ul,
ul ol,
ul ul,
ol ol,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.toggle {
    padding: 0.5rem 0.65rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

@media (min-width: 30.1rem) {
    .toggle {
        position: fixed;
    }
}

.top,
.middle,
.bottom {
    content: '';
    position: absolute;
    top: 12px;
    width: 18px;
    right: 12px;
    height: 2px;
    transition: all .1s;
    z-index: 10;
}

.middle {
    top: 18px;
}

.bottom {
    top: 24px;
}

@media (min-width: 48rem) {
    .top,
    .middle,
    .bottom {
        height: 3px;
        width: 20px;
        right: 13px;
    }
    .middle {
        top: 20px;
    }
    .bottom {
        top: 28px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(6, 178, 132, 0.95);
    padding-top: 6.6rem;
    transition: all .2s ease-in-out;
}

.menu .menuItem {
    display: block;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.025rem;
    color: #fafafa;
}

.menu .menuItem:hover {
    color: #333;
    transition: color .1s ease-in-out;
}

.pagination {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    animation: fadeIn 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0.25s;
}

.pagination a:hover {
    color: #64aee3;
}

.desc {
    display: inline-flex;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    color: #ccc;
}

.prevDesc {
    padding-left: 0.7rem;
}

.nextDesc {
    padding-right: 0.7rem;
    margin-left: auto;
}

.nextPrevPages {
    display: flex;
    flex-direction: row;
}

.previous {
    display: inline-flex;
    align-items: center;
    width: 48%;
    margin-left: -2em;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.5;
}

.next {
    display: inline-flex;
    align-items: center;
    width: 48%;
    margin-left: auto;
    margin-right: -2em;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.5;
}

.next a {
    margin-left: auto;
}

.next span,
.previous span {
    display: inline-flex;
    align-items: center;
}

.previous svg { padding-right: 1rem; }
.next svg { padding-left: 1rem; }
.previous p { text-align: left; }
.next p { text-align: right; }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeDown {
    from {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}