.baseball {
    color: #FA0087 !important;
}

.basketball {
    color: #F7E1A0 !important;
}

.brexit {
    color: #B10DA1 !important;
}

.businessandfinance {
    color: #1CBE4F !important;
}

.crime {
    color: #2ED9FF !important;
}

.cubarelations {
    color: #C4451C !important;
}

.food {
    color: #325A9B !important;
}

.football {
    color: #B00068 !important;
}

.globalwarming {
    color: #FC1CBF !important;
}

.lgbtqdiscrimination {
    color: #DEA0FD !important;
}

.medicalresearch {
    color: #AA0DFE !important;
}

.music {
    color: #782AB6 !important;
}

.nazismandsyrianrefugeecrisis {
    color: #FE00FA !important;
}

.nuclear {
    color: #16FF32 !important;
}

.olympics {
    color: #F8A19F !important;
}

.politics {
    color: #FBE426 !important;
}

.popcultureandentertainment {
    color: #565656 !important;
}

.protestingandactivism {
    color: #E2E2E2 !important;
}

.realestate {
    color: #85660D !important;
}

.segregationandracialdiscrimination {
    color: #F6222E !important;
}

.space {
    color: #C075A6 !important;
}

.technologyanddataprivacy {
    color: #90AD1C !important;
}

.terrorismandwar {
    color: #1CFFCE !important;
}

.usillegalimmigration {
    color: #1C8356 !important;
}

.widespreaddisease {
    color: #FEAF16 !important;
}