.graphic {
  line-height: 1;
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.container {
  max-width: 32rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 76.5em) {
  .container {
    max-width: 36rem;
  }
}