.container {
  max-width: 32rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-left:  auto;
  margin-right: auto;
  background-color: #fafafa;
  box-shadow: none;
}

.title {
  padding: 0.83rem 0;
  font-size: 2rem;
  font-weight: 800;
  color: #333;
}

@media (max-width: 48.125em) {
  .title {
    padding-left: 1rem;
  }
}