.legend {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30% 0 0 90%;
  width: 5rem;
  color: #505050;
  font-size: 12px;
}

@media (max-width: 47.95em) {
  .legend {
    font-size: 10px;
    margin: 30% 0 0 85%;
  }
}

.section {
  margin-bottom: 1rem;
}

.subsection {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.title {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.iconContainer {
  position: relative;
  height: 15px;
  width: 15px;
}

.icon {
  content: "";
  height: 12px;
  width: 12px;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.statevisited {
  background-color: #45ada8;
  border: 2px solid #2f7572;
}

.statewillvisit {
  background-color: #d5ded9;
  border: 2px solid #afc0b7;
}

.cityvisited {
  background-color: rgb(217,91,67);
  border-radius: 50%;
  border: 2px solid rgb(217,91,67);
}

.citywillvisit {
  background-color: rgb(250,250,250);
  border-radius: 50%;
  border: 2px solid rgb(217,91,67);
}

.cityvisited:hover,
.citywillvisit:hover {
  transform: scale(1);
  opacity: 0.7;
}

.description {
  margin-left: 0.3rem;
}

.visitedUnfocus { opacity: 0 !important; }
.visitedFocus { opacity: inherit; }
.willvisitUnfocus { opacity: 0 !important; }
.willvisitFocus { opacity: inherit; }