.container {
  line-height: 1;
  max-width: 32rem;
  padding-top: 1rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  color: #333;
}

@media (min-width: 76.5em) {
  .container {
    max-width: 36rem;
  }
}

.container:last-child {
  margin-bottom: 2rem;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.state,
.city,
.site,
.icon,
.description {
  display: inline-block;
  vertical-align: top;
}

.state,
.city,
.site {
  width: 10rem;
  padding-bottom: 1rem;
}

.loc {
  display: flex;
  align-content: center;
  padding: 0.5rem 0;
  border-top: 1px solid #cdcdcd;
  width: 80%;
}

.icon {
  overflow: visible;
  fill: #ffe66d;
  stroke: #333;
  height: 16px;
  width: 16px;
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.loc:hover .icon {
  transform: rotate(360deg);
}

.description {
  margin-left: 0.5rem;
  font-size: 0.7rem;
}